.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #108ee9;
  color: #fff;
  font-size: 26px;
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;
}
